:root {
    --p1c1: #469597;
    --p1c2: #5BA199;
    --p1c3: #BBC6C8;
    --p1c4: #E5E3E4;
    --p1c5: #DDBEAA;
}

:root {
    --p2c1: #5C9EAD;
    --p2c2: #FFFFFF;
    --p2c3: #326273;
    --p2c4: #EEEEEE;
    --p2c5: #E39774;
}

:root {
    --p3c1: #F4F1DE;
    --p3c2: #E07A5F;
    --p3c3: #3D405B;
    --p3c4: #81B29A;
    --p3c5: #F2CC8F;
}