:root {
    /* Color Variables */
    --background-color: #91a1b6;
    --background-color2: #b5c2d3;
    --accent-color: #FF4500;
    --accent-color2: #FF6000;
    --accent-color-hover: #2ba127;
    --text-color-light: white;
    --text-color-dark: black;
    --border-color: #333;

    /* Other Variables */
    --border-radius: 0.5em;
    --border-width: 0.25em;
    --navbar-link-spacing: 0.3em;
    --navbar-padding: 0.875em;
    --navbar-link-vertical-padding: 1em;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(to bottom right, var(--background-color2), var(--background-color));
    height: 100%;
}

a {
    color: var(--accent-color);
}

a:hover {
    /* color: var(--accent-color-hover); */
    color: var(--background-color);
}

/* Utility classes for common properties */
.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

header {
    background-image: linear-gradient(to bottom right, var(--accent-color2), var(--accent-color));
    padding: 2em;
    color: var(--text-color-light);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

nav,
footer .social-links {
    background-color: var(--border-color);
    width: 100%;
    padding: var(--navbar-padding) 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav a,
footer .social-links a {
    color: var(--text-color-light);
    font-weight: bolder;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: var(--navbar-link-vertical-padding) 1.25em;
    margin: 0 var(--navbar-link-spacing);
    border-radius: var(--border-radius);
}

nav a:hover,
footer .social-links a:hover {
    color: var(--text-color-light);
    background-color: var(--accent-color);
}



.section-header {
    /* display: flex; */
    /* justify-content: space-between; */
    /* justify-content: start; */
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.625em;
    margin-bottom: 1.25em;
}

.section-header h2 {
    margin: 0;
    margin-bottom: 0.25em;
    /* Removes default margin from h2 */
    /* flex: 1; */
    /* Allows the title to take up the available space */
}

.section-header p {
    /* margin-top: 1em; */
    margin: 0;
    /* Adjusts spacing as needed */
}

section {
    margin: 1.25em;
    background-color: white;
    padding: 1em 1em 0em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
}

footer {
    background-color: var(--border-color);
    color: var(--text-color-light);
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

@media (min-width: 768px) {
    main {
        max-width: 50%;
        margin: 20px auto;
    }
}